.desktop__demos {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.desktop__demos-trial {
  display: flex;
  align-items: start;
  flex-direction: row;
  justify-content: center;
  padding-top: 100px;
  flex-wrap: wrap;
  gap: 20px;
  padding-right: 150px;
  padding-bottom: 180px;
}

.desktop__demos-trial-clock {
  width: 165px;
  height: auto;
  margin-top: -20px;
}

.desktop__demos-trial-description {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 800px;
  gap: 30px;
}

.desktop__demos-trial-title {
  margin: 0 auto;
  font-weight: 700;
  font-size: 64px;
  color: #1c0e0d;
}

.desktop__demos-trial-text {
  font-size: 20px;
  color: #40201e;
  width: 75%;
  line-height: 36px;
  margin-bottom: 30px;
}

.desktop__demos-trial-button {
  border: none;
  font: inherit;
  color: white;
  font-weight: 500;
  background-color: #ff553e;
  border-radius: 40px;
  height: 76px;
  width: 240px;
}

.desktop__demos-trial-clipboard {
  width: 250px;
  height: auto;
  position: relative;
  top: 18em;
  margin-left: -12em;
}

.desktop__demos-calendar-1 {
  width: 48px;
  height: 22px;
  margin-left: -56em;
}

.desktop__demos-funfact {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  width: 35%;
  padding-top: 100px;
  padding-bottom: 60px;
  margin-left: 70px;
}

.desktop__demos-funfact-fact {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.desktop__demos-funfact-num {
  color: #18063c;
  font-size: 48px;
  font-weight: 600;
}

.desktop__demos-funfact-alias {
  opacity: 0.6;
  color: #404040;
}

.mobile__demos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

.mobile__demos-trial {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 30px;
  padding: 30px 23px;
  padding-bottom: 60px;
}

.mobile__demos-trial-title {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mobile__demos-trial-uppertitle {
  display: flex;
  flex-direction: row;
  align-items: end;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.mobile__demos-trial-title-text {
  font-size: 28px;
  margin: 0px 0px;
  padding: 0px 0px;
  font-weight: 700;
  color: #1c0e0d;
}

.mobile__demos-trial-title-img {
  width: 80px;
  height: auto;
  padding-bottom: 15px;
}

.mobile__demos-trial-text {
  line-height: 36px;
  font-size: 16px;
  color: #40201e;
}

.mobile__demos-trial-button {
  border: none;
  font: inherit;
  color: white;
  font-weight: 500;
  background-color: #ff553e;
  border-radius: 40px;
  padding: 23px 40px;
}

.mobile__demos-funfact {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}

.mobile__demos-funfact-fact {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  width: 180px;
  gap: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.underline {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: rgba(30, 12, 62, 0.2);
}

.mobile__demos-funfact-num {
  color: #18063c;
  font-size: 64px;
  font-weight: 600;
  line-height: 64px;
}

.mobile__demos-funfact-alias {
  color: #404040;
  opacity: 0.6;
  line-height: 18px;
}

.mobile__demos-funfact-img {
  width: 100px;
  height: auto;
  position: relative;
  margin-top: -60px;
  padding-right: 265px;
}
